{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <a class="navbar-brand nav-item mx-5" href="{% url 'list_pawn' %}"> View pawns </a> 
            <a class="navbar-brand nav-item mx-5" href="{% url 'create_pawn' %}"> Add pawn </a>
            <a class="navbar-brand nav-item mx-5" href="{% url 'manage_pawns' %}"> Manage pawns </a>
        </ul>
    </div>
    <h2 class="text-warning navbar-text nav-item mx-5" style="white-space: nowrap;"> ραωи нαℓℓ </h2> 
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2 mx-5">
        <ul class="navbar-nav mr-auto text-center">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Logged in as {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'logout' %}"> Logout </a>
                        </div>
                </li>
            {% else %}
                <a class="navbar-brand" href="{% url 'login' %}"> Login </a>
            {% endif %}
            <a class="navbar-brand nav-item mx-5" href="/register"> Register </a> 
        </ul>
    </div>
</nav>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>