{% include "pawnlisting/base.html" %}

<div class="container">
    <table class="table table-dark">
    <thead>
        <th scope="col">Steam URL</th>
        <th scope="col">Vocation</th>
        <th scope="col">Pawn Name</th>
        <th scope="col">Activity</th>
        <th scope="col">Level</th>
        <th scope="col">Inclinations</th>
        <th scope="col">Gender</th>
        <th scope="col">Pawn Detail</th>
        <th scope="col">Update Btn</th>
        <th scope="col">Delete Btn</th>
    </thead>
    <tbody>
        {% for pawn in user_pawns %}
            <tr>
                {% include "pawnlisting/pawn_table.html" %}
                <td><a href="{% url 'update_pawn' pawn.id %}" class="btn btn-warning btn-sm"> Update </button>
                <td><a href="{% url 'delete_pawn' pawn.id %}" class="btn btn-danger btn-sm"> Delete </button>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>