{% include "pawnlisting/base.html" %}


<div class="container">
    <table class="table table-dark">
    <thead>
        <th scope="col">Steam URL</th>
        <th scope="col">Vocation</th>
        <th scope="col">Pawn Name</th>
        <th scope="col">Activity</th>
        <th scope="col">Level</th>
        <th scope="col">Inclinations</th>
        <th scope="col">Gender</th>
        <th scope="col">Detail Btn</th>
    </thead>
    <tbody>
        {% for pawn in pawn_list %}
            <tr>
                {% include "pawnlisting/pawn_table.html" %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>