{% include "pawnlisting/base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'pawnlisting/css/pawn_form.css' %}">

<div class="container">

    {% if object %}
    <h1> Updating Pawn: {{ object.name }} </h1>
    {% else %}
    <h1> Create a Pawn </h1>
    {% endif %}

    <div class="container">
        <h2> Required Fields </h2>
        <form method="POST" enctype="multipart/form-data">
            <div class="row">

                {% csrf_token %}
                <div class="col">
                    <div class="form-group">
                        {% if pawn_form.errors.name %}
                        <div class="alert alert-danger">
                            <strong>{{ pawn_form.errors.name |escape }}</strong>
                        </div>
                        {% endif %}
                        {{ pawn_form.name.label_tag }}
                        {{ pawn_form.name }}
                    </div>
                    <div class="form-group">
                        {% if pawn_form.errors.level %}
                        <div class="alert alert-danger">
                            <strong>{{ pawn_form.errors.level |escape }}</strong>
                        </div>
                        {% endif %}
                        {{ pawn_form.level.label_tag }}
                        {{ pawn_form.level }}
                    </div>
                    <div class="form-group">
                        {% if pawn_form.errors.vocation %}
                        <div class="alert alert-danger">
                            <strong>{{ pawn_form.errors.vocation |escape }}</strong>
                        </div>
                        {% endif %}
                        {{ pawn_form.vocation.label_tag }}
                        {{ pawn_form.vocation }}
                    </div>
                    <div class="form-group">
                        {% if pawn_form.errors.gender %}
                        <div class="alert alert-danger">
                            <strong>{{ pawn_form.errors.gender |escape }}</strong>
                        </div>
                        {% endif %}
                        {{ pawn_form.gender.label_tag }}
                        {{ pawn_form.gender }}
                    </div>
                    <div class="form-group">
                        {% if pawn_form.errors.primary_inclination %}
                        <div class="alert alert-danger">
                            <strong>{{ pawn_form.errors.primary_inclination |escape }}</strong>
                        </div>
                        {% endif %}
                        {{ pawn_form.primary_inclination.label_tag }}
                        {{ pawn_form.primary_inclination }}
                    </div>
                    <div class="form-group">
                        {% if pawn_form.errors.secondary_inclination %}
                        <div class="alert alert-danger">
                            <strong>{{ pawn_form.errors.secondary_inclination |escape }}</strong>
                        </div>
                        {% endif %}
                        {{ pawn_form.secondary_inclination.label_tag }}
                        {{ pawn_form.secondary_inclination }}
                        <div class="small" id="secondaryInclinationHelp" class="form-text text-muted"> Select None if
                            your pawn does not have a 2nd inclination </div>
                    </div>
                    <div class="form-group">
                        {% if pawn_form.errors.tertiary_inclination %}
                        <div class="alert alert-danger">
                            <strong>{{ pawn_form.errors.tertiary_inclination |escape }}</strong>
                        </div>
                        {% endif %}
                        {{ pawn_form.tertiary_inclination.label_tag }}
                        {{ pawn_form.tertiary_inclination }}
                        <div class="small" id="teriaryInclinationHelp" class="form-text text-muted"> Select None if your
                            pawn does not have a 3rd inclination </div>
                    </div>
                    <div class="form-group">
                        {% if pawn_form.errors.platform %}
                        <div class="alert alert-danger">
                            <strong>{{ pawn_form.errors.platform |escape }}</strong>
                        </div>
                        {% endif %}

                        {{ pawn_form.platform.label_tag }}

                        {{ pawn_form.platform }}
                    </div>

                </div>

                <div class="col">
                    {% if profile_form %}
                        {{ profile_form.errors }}
                        {{ profile_form }}
                    {% endif %}
                </div>
            </div>
            <button class="btn btn-light" type="submit"> Submit </button>

        </form>

    </div>
    <div class="container">
        <h2> Optional Fields </h2>
        <div class="form-group">
            {% if form.errors.notes %}
            <div class="alert alert-danger">
                <strong>{{ form.errors.notes |escape }}</strong>
            </div>
            {% endif %}
            <div>
                <label> Pawn Picture </label>
                {{ form.picture }}
            </div>
            <label for="id_notes">Pawn Notes and Requests </label>
            <div>
                {{ form.notes }}
            </div>
        </div>
    </div>
</div>