{% extends "pawnlisting/base.html" %}
    
{% block title %}
<title> Login </title>
{% endblock title %}

{% block page_description %}
<meta name="description" content="Login to Pawnguild">
{% endblock page_description%}


{% block content %}

<style>
.row {
    margin-bottom: 5px;
}
</style>

<div class="container form-box">
    <h1> Login </h1>
    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-warning">
            <strong>{{ form.non_field_errors |escape }}</strong>
        </div>
        {% endif %}
        <div class='row'>
            <div class='col-md-2'>
            <label> Username or email: </label>
            </div>
            <div class='col-md-5 long'>
                {{ form.username }}
            </div>
        </div>
        <div class='row'>
            <div class='col-md-2'>
            {{ form.password.label_tag }}
            </div>
            <div class='col-md-5 long'>
                {{ form.password}}
            </div>
        </div>
        <div class='row'>
            <div class='col-md-4 py-3'>
                <input type="submit" value="Login">
                <input type="hidden" name="next" value="{{ next }}">
            </div>
        </div>
    </form>
    <p> Don't have an account? Register <a href="{% url 'register' %}"> here </a> </p>
    <p> Forgot your password? Click <a href="{% url "password_reset_recover" %}"> here</a></p>
</div>

{% endblock content %}