{% include "pawnlisting/base.html" %}

<div class="container">
    <h1> Update profile </h1>
    <form method="POST">
        {% csrf_token %}
        {% if profile_form.errors.steam_profile %}
            <div class="alert alert-danger">
                <strong>{{ profile_form.errors.steam_profile |escape }}</strong>
            </div>
        {% endif %}
        <label> Steam URL: </label>
        {{ profile_form.steam_profile }}
        <div>
            <button class="btn btn-light" type="submit"> Submit </button>
        </div>
    </form>
</div>