td.red-vocation {
    background-color: indianred;
}

td.yellow-vocation {
    background-color: sandybrown;
}

td.blue-vocation {
    background-color: mediumturquoise;
}

body {
    background-color: darkslategray
}

b {
    color: black;
}

