{% extends "pawnlisting/pawn_tables/list_pawns/xbox1_pawn_table.html"%}

{% block pawn_table_cols %}
{{ block.super }}
{% include "pawnlisting/pawn_tables/manage_pawns/manage_pawn_cols.html" %}
{% endblock pawn_table_cols %}

{% block pawn_table_rows %}
{{ block.super }}
<td><a href="{% url 'update-xbox1-pawn' pawn.id %}" class="btn btn-outline-warning btn-sm"> Update </button>
<td><a href="{% url 'delete-xbox1-pawn' pawn.id %}" class="btn btn-outline-danger btn-sm"> Delete </button>
{% endblock pawn_table_rows %}
