<div class="container-fluid table-responsive">
    <table class="table table-dark">
    <thead>
        <th class="hidden-sm-down" scope="col">PSN</th>
        <th class="hidden-sm-down" scope="col">Game Version</th>
        {% include "pawnlisting/pawn_tables/base_pawn_table_cols.html" %}
        {% include "pawnlisting/pawn_tables/manage_pawns/manage_pawn_cols.html" %}
    </thead>
    <tbody>
        {% for pawn in ps3_pawns %}     
            <tr>
                <td class="hidden-sm-down">{{ pawn.psn }}
                <td class="hidden-sm-down">{{ pawn.version }}</td>
                {% include "pawnlisting/pawn_tables/base_pawn_table_row.html" %}
                <td><a href="{% url 'update-ps3-pawn' pawn.id %}" class="btn btn-outline-warning btn-sm"> Update </button>
                <td><a href="{% url 'delete-ps3-pawn' pawn.id %}" class="btn btn-outline-danger btn-sm"> Delete </button>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>