input,
textarea {
    background-color: whitesmoke;
    color: dark;
}

#platform-select {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}