table td {
    padding: .5rem !important;
}

td.red-vocation {
    background-color: rgb(235, 45, 76);
}

td.yellow-vocation {
    background-color: sandybrown;
}

td.blue-vocation {
    background-color: mediumturquoise;
}

b {
    color: black;
}

.table-responsive td {
    text-align: center;
    vertical-align: middle;
}

a {
    color: lightskyblue;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: lightgreen;
    border-radius: 10px;
    border: 2px solid black;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(50, 50, 94);
}

.activity-cell {
    min-width: 101px !important;
    width: 101px !important;
}

.friend-link-cell {
    min-width: 95px !important;
    width: 95px !important;
}