{% include "pawnlisting/base.html" %}

<div class="container">
    {% if steam_pawns %}
    <h2> Your Steam Pawns <h2>
    {% include "pawnlisting/pawn_tables/manage_pawns/manage_steam_pawn_table.html" %}
    <br>
    {% endif %}

    {% if switch_pawns %}
    <h2> Your Switch Pawns </h2>
    {% include "pawnlisting/pawn_tables/manage_pawns/manage_switch_pawn_table.html" %}
    <br>
    {% endif %}

    {% if xbox1_pawns %}
    <h2> Your Xbox One Pawns </h2>
    {% include "pawnlisting/pawn_tables/manage_pawns/manage_xbox1_pawn_table.html" %}
    <br>
    {% endif %}
</div>