.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: calc(100% - 80px);
    padding: 0px;
    z-index: -1 /* Video takes whole screen, put it underneath navbar */
}

.home-page-wrapper {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 4.2fr 4fr 4.3fr; /* Tinkered values meant to help surround the Riftstone more evenly */
    height: calc(100vh - 80px);
}

.site-intro {
    /* Span from the first row and column to the 3rd row and 2 col */
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.site-description {
    width: 70%;
    font-size: 1.5rem;
}

.faq-intro {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    justify-content: flex-end;
}

.faq-intro>h3{
    width: 70%;
}

.find-pawns {
    grid-area: 1 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
