{% extends "password_reset/base.html" %}
{% load i18n %}

{% block title %}
<title> Recover Password </title>
{% endblock title %}

{% block content %}
<div class="container">
	<h2>{% trans "Password recovery" %}</h2>
</div>
<div class="container">
	<form method="post" action="{{ url }}">
		{% csrf_token %}

        {% if form.errors.username_or_email %}
        <div class="alert alert-warning">
            <strong>{{ form.errors.username_or_email |escape }}</strong>
        </div>
        {% endif %}

        <div class='row'>
            <div class='col-md-2'>
            <label> Username or email: </label>
            </div>
            <div class='col-md-5 long'>
                {{ form.username_or_email }}
            </div>
        </div>


		<p><input type="submit" value="{% trans "Recover my password" %}"></p>
	</form>
</div>
{% endblock content %}