{% include "pawnlisting/base.html" %}

<div class="container-fluid">
    {% if steam_pawns %}
        <h2> Steam Pawns </h2>
        {% include "pawnlisting/pawn_tables/list_pawns/list_steam_pawns.html" %}
        <br>
    {% endif %}


    {% if switch_pawns %}
        <h2> Switch Pawns </h2>
        {% include "pawnlisting/pawn_tables/list_pawns/list_switch_pawns.html" %}
        <br>
    {% endif %}

    {% if xbox1_pawns %}
        <h2> Xbox One Pawns </h2>
        {% include "pawnlisting/pawn_tables/list_pawns/list_xbox1_pawns.html" %}
        <br>
    {% endif %}

    {% if ps4_pawns %}
        <h2> PS4 Pawns </h2>
        {% include "pawnlisting/pawn_tables/list_pawns/list_ps4_pawns.html" %}
        <br>
    {% endif %}

    {% if ps3_pawns %}
        <h2> PS3 Pawns </h2>
        {% include "pawnlisting/pawn_tables/list_pawns/list_ps3_pawns.html" %}
        <br>
    {% endif %}
</div>