{% extends "pawnlisting/base.html" %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'pawnlisting/css/pawn_form.css' %}">
{{ block.super }}
{% endblock stylesheets %}
<script>
    document.getElementById("platform-select").required = true;
</script>


{% block content %}
<div class="container">
    
    <form action="{% url 'select_platform' %}" method="POST">
        {% csrf_token %}

        <div class="row mx-3 py-3">
            <h2> Select your platform </h2>
        </div>
        {% if platform_form.errors.platform %}
        <div class="row">
            <div class="mx-3 alert alert-warning col">
                <strong>{{ platform_form.errors.platform |escape }}</strong>
            </div>
        </div>
        {% endif %}
        <div class="row mx-3 py-3">
            <select name="platform" id="platform-select">
                <option disabled selected value> -- select an option -- </option>
                <option value="Steam">Steam</option>
                <option value="Switch">Nintendo Switch</option>
                <option value="XboxOne">Xbox One</option>
                <option value="PS4">PS4</option>
                <option value="PS3">PS3</option>
            </select>
        </div>
        <div class="row mx-3 py-3">
            <button class="btn btn-light" type="submit"> Choose Platform </button>
        </div>
    </form>
</div>
{% endblock content %}