{% extends "pawnlisting/base.html" %}

{% load static %}

{% block title %}
<title> Manage Pawns </title>
{% endblock title %}

{% block meta %}
<meta name="description" content="Edit any of your pawns on PawnGuild here.">
{% endblock meta%}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'pawnlisting/css/manage_pawns.css' %}">
{{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="container">
    {% if steam_pawns %}
    <h2> Your Steam Pawns <h2>
    {% with pawns=steam_pawns %}
        {% include "pawnlisting/pawn_tables/manage_pawns/manage_steam_pawn_table.html" %}
    {% endwith %}
    <br>
    {% endif %}

    {% if switch_pawns %}
    <h2> Your Switch Pawns </h2>
    {% with pawns=switch_pawns %}
        {% include "pawnlisting/pawn_tables/manage_pawns/manage_switch_pawn_table.html" %}
    {% endwith %}
    <br>
    {% endif %}

    {% if xbox1_pawns %}
    <h2> Your Xbox One Pawns </h2>
    {% with pawns=xbox1_pawns %}
        {% include "pawnlisting/pawn_tables/manage_pawns/manage_xbox1_pawn_table.html" %}
    {% endwith %}
    <br>
    {% endif %}

    {% if ps4_pawns %}
    <h2> Your PS4 Pawns </h2>
    {% with pawns=ps4_pawns %}
        {% include "pawnlisting/pawn_tables/manage_pawns/manage_ps4_pawn_table.html" %}
    {% endwith %}
    <br>
    {% endif %}

    {% if ps3_pawns %}
    <h2> Your PS3 Pawns </h2>
    {% with pawns=ps3_pawns %}
        {% include "pawnlisting/pawn_tables/manage_pawns/manage_ps3_pawn_table.html" %}
    {% endwith %}
    <br>
    {% endif %}

    <div class="create-pawn-buttons-wrapper py-3">
        <h4> Create your pawn (limit of 5) </h4>
        <div>
            <a class="pawn-page-button btn btn-outline-warning" href="{% url 'create-steam-pawn' %}">Steam</a>
            <a class="pawn-page-button btn btn-outline-warning" href="{% url 'create-switch-pawn' %}">Switch</a>
            <a class="pawn-page-button btn btn-outline-warning" href="{% url 'create-xbox1-pawn' %}">Xbox One</a>
            <a class="pawn-page-button btn btn-outline-warning" href="{% url 'create-ps4-pawn' %}">PS4</a>
            <a class="pawn-page-button btn btn-outline-warning" href="{% url 'create-ps3-pawn' %}">PS3</a>
        </div>
    </div>
</div>

{% endblock content %}