{% include "pawnlisting/base.html" %}
    

<div class="container form-box">
    <h1> Login </h1>
    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-warning">
            <strong>{{ form.non_field_errors |escape }}</strong>
        </div>
        {% endif %}

        <p> Username: {{ form.username }}  </p>
        <p> Password:  {{ form.password}} </p>

        <p> <input type="submit" value="Login"> </p>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p> Don't have an account? Register <a href="{% url 'register' %}"> here </a> </p>
    <p> Forgot your password? Click <a href="{% url "password_reset_recover" %}"> here</a></p
</div>