<div class="container">
    <table class="table table-dark">
    <thead>
        <th scope="col">Steam URL</th>
        {% include "pawnlisting/pawn_tables/base_pawn_table_cols.html" %}
    </thead>
    <tbody>
        {% for pawn in steam_pawns %}     
            <tr>
                <td> <a href="{{ pawn.steam_url }}" target="_blank"> Friend link </a> </td>
                {% include "pawnlisting/pawn_tables/base_pawn_table_row.html" %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>