<div class="container">
    <table class="table table-dark">
    <thead>
        <th scope="col">Friend Code</th>
        <th scope="col">Pawn Code</th>
        {% include "pawnlisting/pawn_tables/base_pawn_table_cols.html" %}
    </thead>
    <tbody>
        {% for pawn in switch_pawns %}     
            <tr>
                <td>{{ pawn.friend_account_id }}</td>
                <td>{{ pawn.pawn_id }}</td>
                {% include "pawnlisting/pawn_tables/base_pawn_table_row.html" %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>