{% extends "pawnlisting/base.html"%}

{% load static %}


{% block stylesheets %}
<link rel="stylesheet" href="{% static 'pawnlisting/css/pawn_list.css' %}">
{{ block.super }}
{% endblock stylesheets %}

{% block content %}
<div class="container">

    <form ction="{{ request.path }}" method="GET">
        <div class="search-tools-max-width-wrapper search-tools-container">
            <div class="py-3">
                <h2> Search for Pawns </h2>
            </div>
            
            Min Level
            <input type="number" min="1" max="200" id="min-level" name="min-level">
            Max Level
            <input type="number" min="1" max="200" id="max-level" name="max-level">

            <div class="vocation-selector">
                <label> Choose vocations: </label>
                {% for vocation in vocations %}
                <input class="hidden-vocation-checkbox" type="checkbox" id="{{ vocation }}" name="{{ vocation }}"checked>
                <label class="vocation-checkbox-button btn {{vocation}}" for="{{ vocation }}"> {{ vocation }} </label>
                {% endfor %}
            </div>

            <div class="row mx-3 py-3">
                <button class="btn btn-light" type="submit"> Filter </button>
            </div>
        </div>
    </form>
    {% if pawns %}
        {% block pawn_table %}
        {% endblock pawn_table %}
    {% else %}
        <p> There aren't any active {{ platform }} pawns. You can create one <a href="{% url 'select_platform' %}">here</a></p>
    {% endif %}
</div>
{% endblock content %}
