{% extends "pawnlisting/base.html" %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'pawnguild_platform/css/faq.css' %}">
{{ block.super }}
{% endblock stylesheets%}

{% block content %}
<div class="container px-1" id="faq-container">
    <h2 id="faq-header">FAQ</h2>
    <ul class="pb-3">
        <li>
            <label>Why Pawn Guild?</label>
            <p>Rift Crystals (RC) and community. RC is a valuable resource that can be hard to get,
                 and the best way to get them is from having your pawn rented. By listing your pawn here,
                  you expose your pawn to several communities, and can give back by hiring other pawns on Pawn Guild.</p>
        </li>
        <li>
            <label>How do I find pawns listed on Pawn Guild in Dragon’s Dogma?</label>
            <p>The most common way is to send a friend requests to the pawn’s owner. 
                Friend’s pawns are easier to find, and also cost no rift crystals. 
                The info on the pawn’s profile should be sufficient to find it as well,
                 especially if the pawn has been updated recently.</p>
        </li>
        <li>
            <label>What happens when a pawn I rented dies?</label>
            <p>This is referred to as “body bagging”. 
                The pawn is sent back to the owner with 3 star ratings and no gift,
                 but they do still get Rift Crystals.</p>
        </li>
        <li>
            <label>What should I do if I body bagged a pawn?</label>
            <p>Don’t worry too much, it happens! However some players do care about ratings, so 
                 rehiring the pawn so you can release it with proper ratings can be nice. 
                 This would also allow you to release the pawn with a gift and ratings</p>
        </li>
        <li>
            <label>Should I send a gift when I release pawns?</label>
            <p>Only if you want to! You aren’t ever obligated to send gifts, but it’s a good way to show appreciation for a great pawn</p>
        </li>
        <li>
            <label>What are some good gifts to give?</label>
            <p>Depending on level some items may be more useful. </p>
            <ul>
                <li>
                    For late game players: BBI gear is the go to high quality gift. Otherwise items such as Ne'er Do Parts, Wakestones and
                    periapts are nice to receive.
                </li>
                <li>
                    For middle game players: Items that sell for lots of gold (wakestones) or high quality consumables are nice to receive, such as periapts or panaceas.
                </li>
                <li>
                    For early game players: An upgrade to a pawn's gear, ferrystones, nice to have curatives (spring water)
                </li>
                <li>
                    A fantastic gift can also be items you can only get once per run through the game, such as the Golden Egg or Wyrmking's Ring
                </li>
            </ul>
        </li>
        <li>
            <label>Should I hire someone's pawn if they hired mine?</label>
            <p>Just like sending a gift, it can be a nice way to thank someone since hiring pawns gives the player rift crystals. You are not obligated to return pawn hires</p>
        </li>
    </ul>
</div>
<div class="container px-1" id="faq-container">
    <h2 id="faq-header">Notes from Pawn Guild</h2>
    <ul class="pb-3">
        <li>
            <label>Found an error? Have any feedback? Please reach out!</label>
            <p> Leave a comment at <a href="https://github.com/pawnguild/pawnguild/issues/94">https://github.com/pawnguild/pawnguild/issues/94</a>
                You can also try David_#7193 on discord, but sometimes I change my username.
            </p>
            <label>Want to work on Pawn Guild?</label>
            <p> Please do! There's always improvements to make. Anyone should be able to open pull requests on the
                <a href="https://github.com/pawnguild/pawnguild">Pawn Guild GitHub</a>, and if you have any questions
                feel free to reach out on discord. 
            </p>
        </li>
        <li>
            <label>Pawn Guild will never send you emails</label>
            <p> With the exceptions being confirmation emails and password resets.
            </p>
        </li>
        <li>
            <label>Pawn Guild does not share your email with any 3rd parties </label>
            <p>
                Only I (the Pawn Guild dev) or people I select to be moderators have access to your emails.
            </p>
        </li>
        <li>
            <label>Data Privacy</label>
            <p>
                Aside from emails to avoid bots, I do not go out of my way to gather any information from my users.
                The only information that is kept are things that are automatically logged by my webserver nginx,
                which includes IP address and what URL's you access. I do not do any analysis on this information or
                share it with anyone. It exists solely for debugging in case of server errors.
            </p>
        </li>
    </ul>
</div>
{% endblock content %}
