{% extends "pawnlisting/base.html" %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'pawnguild_platform/css/home_page.css' %}">
{{ block.super }}
{% endblock stylesheets%}

{% block content %}
<div class="home-page-wrapper">
    <div class="banner">
        <div class="left-banner">
            <div class="site-intro">
                <h1>Welcome to Pawn Guild!</h1>
                <p>A community for sharing pawns and farming Rift Crystals</p>
            </div>
        </div>
        <div class="right-banner">
            <div class="find-pawns">
                <h3>Find pawns on your platform</h3>
                <div class="platform-button-wrapper">
                    <a class="scroll-button btn btn-outline-warning" href="{% url 'list-steam-pawns' %}">Steam</a>
                    <a class="scroll-button btn btn-outline-warning" href="{% url 'list-switch-pawns' %}">Switch</a>
                    <a class="scroll-button btn btn-outline-warning" href="{% url 'list-xbox1-pawns' %}">Xbox One</a>
                    <a class="scroll-button btn btn-outline-warning" href="{% url 'list-ps4-pawns' %}">PS4</a>
                    <a class="scroll-button btn btn-outline-warning" href="{% url 'list-ps3-pawns' %}">PS3</a>
                </div>
            </div>
            <div class="share-pawn">
                <p>Or <a href="{% url 'login'%}"> login </a>to post your own pawn</p>
            </div>
        </div>
    </div>
    <div class="info-row">
        <div class="info-box">
            <div class="faq-intro">
                <h3>New to renting pawns? Checkout our <a href="{% url 'faq' %}">FAQ</a></h3>
            </div>
        </div>
        <div class="info-box">
            2
        </div>
        <div class="info-box">
            3
        </div>
    </div>
</div>
{% endblock content %}