{% extends "pawnlisting/pawn_forms/base_pawn_form.html" %}

{% block platform_form %}

<div class="form-group">
    {% if form.errors.pawn_id %}
    <div class="alert alert-warning">
        <strong>{{ form.errors.pawn_id |escape }}</strong>
    </div>
    {% endif %}
    {{ form.pawn_id.label_tag }}
    {{ form.pawn_id }}
</div>

<div class="form-group">
    {% if form.errors.friend_account_id %}
    <div class="alert alert-warning">
        <strong>{{ form.errors.friend_account_id |escape }}</strong>
    </div>
    {% endif %}
    {{ form.friend_account_id.label_tag }}
    {{ form.friend_account_id }}
</div>

{% endblock platform_form %}