<div class="container">
    <table class="table table-dark">
    <thead>
        {% include "pawnlisting/pawn_tables/base_pawn_table_cols.html" %}
        {% include "pawnlisting/pawn_tables/manage_pawns/manage_pawn_cols.html" %}
    </thead>
    <tbody>
        {% for pawn in xbox1_pawns %}     
            <tr>
                {% include "pawnlisting/pawn_tables/base_pawn_table_row.html" %}
                <td><a href="{% url 'update-xbox1-pawn' pawn.id %}" class="btn btn-warning btn-sm"> Update </button>
                <td><a href="{% url 'delete-xbox1-pawn' pawn.id %}" class="btn btn-danger btn-sm"> Delete </button>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>