body {
    background-color: #202125;
}

p {
    color: whitesmoke;
}

h1,
h2,
h3 {
    color: lightgreen;
}

label {
    color: skyblue
}

div {
    color: whitesmoke;
}

a {
    color: skyblue
}

a:hover {
    color: pink;
}

div.small {
    color: lightgreen;
}