{% include "pawnlisting/base.html" %}

{% comment %} <p> You must confirm your account via email before creating pawnlisting/base.html </p>

<p> Click <a href={% url 'confirm_account' %} {% endcomment %}

<div class="container">
    <p> You must confirm your account via email before creating Pawns </p>
    <p> Your email for this account is <i>{{ email }}</i>. If you would like to change emails, please create a new account or message an admin. </p>

    <form method="post" action="{% url 'confirm-account' %}">
        {% csrf_token %}
        <input type="submit" value="Send confirmation email" />
    </form>
</div>